.row{
    justify-content: center;
}
.padding{
    padding: 5rem;
}
    .navbar{
        background-color:#f3e9f1;
        


    img{
        height: 100px;
        
    }
}
.navbar{
    font-size: 1.2rem;
    .nav-item{
        padding: 1rem;
        .icon{
            padding-top: 0.9rem;
            font-size: 1rem;
        }
    }
}
.card{
    background-color: #f0fbff;
}
footer{
    background-color:#f3e9f1;
    .icon{
        font-size: 2rem;
    }

}